# Data files
data/*.csv
data/*.xlsx
data/*.json

# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/

# Reports not tracked by git
reports/